<div>
    <div class="container">
        <div class="alert alert-success">
            Submission successful, you got {{points}} out of {{maxPoints}} points!<br>
            You answered {{wrong}} questions incorrectly and lost {{wrong}} points.
        </div>
    </div>
</div>
